
.main-solution{
    background-color: $clr-peppermint;
    padding-block: 2rem;
}

.main-solution__text{
    // border: 1px solid blue;
    text-align: center;
}
.main-solution__card{
    width: 100%;
    min-width: 300px;

    border: none;
    border-radius: 10px;

    margin-block: 2rem;
    overflow: hidden;
    border: 1px solid red;

    position: relative;
}
.solution__card-img{

    img{
    display: inline-block;
    object-fit: cover;
    width: 100vw;
    height: auto;
    }
}

.solution__card-title{
    background-color: $clr-millbrook;
    color: $clr-neutral-100;


    font-weight: $fw-semi-regular;
    text-align: center;

    padding-block: .5rem;
}
.solution__card-description{
    background-color: $clr-neutral-300;
    color: $clr-neutral-700;

    padding: 1rem;
}